PRODUCTION_FTP_SCHEME=ftp
PRODUCTION_FTP_HOST=example.wedos.net
PRODUCTION_FTP_USER=example_user
PRODUCTION_FTP_PASSWORD=example_password
PRODUCTION_FTP_THEME_PATH=/domains/fajntabory.cz/wp-content/themes/fajntabory
